 <header class="flex-parent">
  <h1 class="flex-child">DDDDX tracker</h1>
  <div class="nav flex-child">
    <i class="material-icons">people</i>
    <% unless @teams.blank? %>
    <%= link_to '<i class="material-icons active">person</i> '.html_safe, members_path %>
    <% end %>
    <% unless @members.blank? %>
    <%= link_to '<i class="material-icons menu active">done_all</i>'.html_safe, qas_path %>
    <% end %>
  </div>
  <i class="material-icons flex-child active"><a title="Add Widget" data-toggle="modal" href="#addteam">group_add</a></i>
</header>
<body>

  <div class="team">
    <h2><%= current_user.name %></h2>
    <div class="member-list flex-parent">
      <% @teams.each do |team| %>
      <div class= "member">
        <h3 class="member-name"><%= team.name %></h3>
      <div id="team<%= team.id %>" class="member-progress" data-percent="<%= team.qas.count > 0 ? ((team.qas.where(:completed => true).count / team.qas.count.to_f) * 100).to_i : 0 %>">
      </div>
    </div>
      <% end %>
    </div>
  </div>

<div class="modal" id="addteam">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Add Qa Item to a Member</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                  <%= simple_form_for @team do |f| %>
                  <%= f.input :name %>
                  <%= f.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
    var teams = $('div[class=member-progress]');
    $.each(teams, function(i,e){
      var circle = new ProgressBar.Circle('#'+e.id, {
        color: '#fcb034',
        strokeWidth: 1,
        trailWidth: 1,
        duration: 1600,
        easing: 'easeInOut',
        text: {
          value: '0'
        },
        step: function(state, bar) {
          bar.setText((bar.value() * 100).toFixed()+ "%");
        }
      });
      circle.animate(e.dataset.percent/100);
    })
    </script> 
