<div class="container">

  <div class="row">
    <div class="col-sm-3">

      <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>

      <hr>

      <ul class="nav nav-stacked">
      <li><%= link_to 'Teams ' "<span class=\"glyphicon glyphicon-user\"></span>".html_safe, teams_path %></li>
      <li><%= link_to 'Members ' "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, members_path %></li>
      <li><%= link_to 'QA\'s ' "<span class=\"glyphicon glyphicon-list-alt\"></span>".html_safe, qas_path %></li>
    </ul>

      <hr>

    </div>
    <div class="col-sm-9">
      <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>  

      <hr>

      <div class="col-md-5">
        <h3>User</h3>
        <p>Name: <%= @user.name if @user.name %></p>
        <p>Email: <%= @user.email if @user.email %></p>
      </div>

    </div>
  </div>

</div>

