<div class="container">
  <div class="col-sm-3">
    <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>

    <hr>

    <ul class="nav nav-stacked">
      <li><%= link_to 'Teams ' "<span class=\"glyphicon glyphicon-flash\"></span>".html_safe, teams_path %></li>
      <li><%= link_to 'Members ' "<span class=\"glyphicon glyphicon-sunglasses\"></span>".html_safe, members_path %></li>
      <li class="selected">QA'S <i class="glyphicon glyphicon-list-alt"></i></li>
    </ul>

    <hr>

  </div>
  <div class="col-sm-9">
    <h3><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><i class="glyphicon glyphicon-plus"></i> Add an Qa Item</h3></a>

    <hr>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Remaining Items</h4></div>
        <div class="panel-body">
          <% @teams.each do |team| %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= team.name.remove(" ") %>" aria-expanded="false" aria-controls="<%= team.name.remove(" ") %>">Team Name: <%= team.name %></a></h4>
                </div>
                <div id="<%= team.name.remove(" ") %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <% team.members.each do |member| %>
                <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#<%= member.name.remove(" ") %>" aria-expanded="false" aria-controls="collapseExample"><%= member.name %></button>
                
                  <div class="collapse" id="<%= member.name.remove(" ") %>">
                    <div class="well">
                      <h4><%= member.name %></h4>
                      <ul>
                        <% member.qas.each do |qa| %>
                        <% unless qa.completed? %>
                        <%= form_for(qa) do |f| %>
                        <li><%= qa.title %><input type="hidden" value="1" name="qa[completed]" id="qa_completed"> <%= f.submit "I'm done with this!", class: "button small radius" %></li>
                        <% end %>
                        <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal" id="addWidgetModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Add Qa Item to a Member</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
                <%= simple_form_for @qa do |f| %>
                <%= f.input :member_id, :collection => @memlist %>
                <%= f.input :title %>
                <%= f.input :description, as: :text, :input_html => { class: 'test', :cols => 75, :rows => 4 } %>
                <%= f.button :submit %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
