<div class="row">    
    <div class="col-lg-6">
        <%= simple_form_for @member do |f| %>
          <%= f.select(:team_id, @teams.map {|t| [t.name, t.id] }) %>
          <%= f.input :name %>
          <%= f.button :submit %>
        <% end %>
    </div>
    <div class="col-lg-6">
      <% @teams.each do |team| %>
      <h3><%= team.name %></h3>
      <% team.members.each do |member| %>
      <h4><%= member.name %></h4>
      <% end %>
      <% end %>
    </div>
</div>

