<header class="flex-parent">
  <h1 class="flex-child"><%= link_to image_tag("4dxlogo.svg"), root_path %></h1>
  <div class="nav flex-child">
    <%= link_to '<i class="material-icons menu">people</i>'.html_safe, teams_path %>
    <i class="material-icons active">person</i>
    <% unless @members.blank? %>
    <%= link_to '<i class="material-icons menu">done_all</i>'.html_safe, qas_path %>
    <% end %>
  </div>
  <i class="material-icons flex-child active"><a title="Add Members" data-toggle="modal" href="#addmember">person_add</a></i>
</header>
<body>

  <% @teams.each do |t| %>
  <div class="team" id="icon<%= t.id %>">
    <div class="accordion">
      <h2><i id="icon<%= t.id %>x" class="material-icons" data-position="up">expand_more</i><%= t.name %></h2>
      <div class="member-list flex-parent">
        <% t.members.each do |m| %>
        <div class="member">
          <h3 class="member-name"><%= link_to "#{m.name}", edit_member_path(m) %></h3>
          <div id="member-progress<%= t.id %><%= m.id %>" 
            class="member-progress" data-percent="<%= m.qas.where(team_id: t.id).count > 0 ? ((m.qas.where(completed: true).where(team_id: t.id).where("qas.created_at >= ?", 2.weeks.ago.utc).count / m.qas.where(team_id: t.id).where("qas.created_at >= ?", 2.weeks.ago.utc).count.to_f) * 100) : 100 %>">
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="modal" id="addmember">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add Members To A Team or Teams</h4>
        </div>
        <div class="modal-body">
          <div class="row">                
            <div class="col-lg-12">
              <h4>Select The Team OR Teams You Want To Add A Member To:</h4>
              <%= simple_form_for @member do |f| %>
              <%= f.association :teams, collection: current_user.teams, as: :select %>  
              <%= f.input :name %>
              <%= f.button :submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    //accordion
    $(function() {
      $( ".accordion").accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
      });

      <% @teams.each do |team| %>
      $("#icon<%= team.id %>").click(function(){
        var x = document.getElementById("icon<%= team.id %>x").getAttribute('data-position');
        if (x == "up") {
          document.getElementById("icon<%= team.id %>x").style.transform = "rotate(180deg)"; 
          $("#icon<%= team.id %>x").attr('data-position', "down");       
        }
        else{
          document.getElementById("icon<%= team.id %>x").style.transform = "rotate(0deg)";        
          $("#icon<%= team.id %>x").attr('data-position', "up");       
        };
      })
      <% end %>
    });

    var teams = $('div[class=member-progress]');
    $.each(teams, function(i,e){
      var circle = new ProgressBar.Circle('#'+e.id, {
        color: '#fcb034',
        strokeWidth: 1,
        trailWidth: 1,
        duration: 1600,
        easing: 'easeInOut',
        text: {
          value: '0'
        },
        step: function(state, bar) {
          bar.setText((bar.value() * 100).toFixed()+ "%");
        }
      });
      circle.animate(e.dataset.percent/100);
    })


    </script> 
  </body>
