<header class="flex-parent">
  <h1 class="flex-child">FourDX tracker</h1>
  <div class="nav flex-child">
    <%= link_to '<i class="material-icons menu active">people</i>'.html_safe, teams_path %>
    <i class="material-icons">person</i>
    <% unless @members.blank? %>
    <%= link_to '<i class="material-icons menu active">done_all</i>'.html_safe, qas_path %>
    <% end %>
  </div>
  <i class="material-icons flex-child active"><a title="Add Widget" data-toggle="modal" href="#addmember">person_add</a></i>
</header>


<div class="team">
  <% @teams.each do |team| %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h2>
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= team.id %>" aria-expanded="false" aria-controls="<%= team.id %>"><%= team.name %></a>
        </h2>
      </div>
      <% team.members.each do |member| %>
      <div id="<%= team.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="member-list flex-parent">
          <div class="panel-body">
            <div class="member">
              <h3> <%= member.name %></h3>
              <div id="team<%= team.id %>" class="member-progress" data-percent="<%= member.qas.count > 0 ? ((member.qas.where(:completed => true).count / member.qas.count.to_f) * 100).to_i : 0 %>"></div>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>



<div class="modal" id="addmember">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Members To A Team</h4>
      </div>
      <div class="modal-body">
        <div class="row">                
          <div class="col-lg-12">
            <h4>Select The Team You Want To Add A Member To:</h4>
            <%= simple_form_for @member do |f| %>
            <%= f.association :teams, as: :check_boxes %>  
            <%= f.input :name %>
            <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>
var teams = $('div[class=member-progress]');
$.each(teams, function(i,e){
  var circle = new ProgressBar.Circle('#'+e.id, {
    color: '#fcb034',
    strokeWidth: 1,
    trailWidth: 1,
    duration: 1600,
    easing: 'easeInOut',
    text: {
      value: '0'
    },
    step: function(state, bar) {
      bar.setText((bar.value() * 100).toFixed()+ "%");
    }
  });
  circle.animate(e.dataset.percent/100);
})
</script> 

