<div class="container">
  <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <li><%= link_to 'Teams ' "<span class=\"glyphicon glyphicon-flash\"></span>".html_safe, teams_path %></li>
        <li class="selected">Members <i class="glyphicon glyphicon-sunglasses"></i></li>
        <% unless @members.blank? %>
        <li><%= link_to 'QA\'s ' "<span class=\"glyphicon glyphicon-list-alt\"></span>".html_safe, qas_path %></li>
        <% end %>
      </ul>
  </div>
  <div class="col-sm-9">
    <h3><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><i class="glyphicon glyphicon-plus"></i> Add a New Member</h3></a>

    <div class="row">
      <% @teams.each do |team| %>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= team.name.remove(" ") %>" aria-expanded="false" aria-controls="<%= team.name.remove(" ") %>">Team Name: <%= team.name %></a></h4>
            </div>
            <div id="<%= team.name.remove(" ") %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <% team.members.each do |member| %>
              <div class="panel-body">
                  <p>Member Name: <%= member.name %><br> QA completion percentage: <%= member.qas.count > 0 ? ((member.qas.where(:completed => true).count / member.qas.count.to_f) * 100).to_i : 0 %>%</p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="modal" id="addWidgetModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Add Members To A Team</h4>
          </div>
          <div class="modal-body">
            <div class="row">                
              <div class="col-lg-12">
                <h4>Select The Team You Want To Add A Member To:</h4>
                <%= simple_form_for @member do |f| %>
                <%= f.input :team_id, :collection => @teams %>
                <%= f.input :name %>
                <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
